{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About me</h1>
    </header>
    <article>
        <p>
            Learning, hacking, imagining and building awesome web applications, every day.
            My technical stack on a daily basis: PHP, Symfony2 framework, MySQL, Doctrine ORM, Apache Server, VM Ware (Ubuntu Virtual Machine).
            Sublime Text 3, Bracket and Git. HTML5, CSS3, HTML5, Javascript, PHPUnit (Unit testing), Drupal 7, AWS CloudFormation
        </p>
    </article>
{% endblock %}